@import url(".../node_modules/bootstrap-icons/font/bootstrap-icons.scss");
@import 'custom';

html{
    position:relative;
    min-height:100%;
}

main{
    margin-bottom: 250px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width:100%
}

p{
font-family: $font-family-serif;
font-size: 18px;
}

.hero-scene {
  position: relative;
  min-height: 60vh; /* 👈 ajoute cette ligne */
  &::before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url(../images/FondHeroScene.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.3);
    z-index: 0; /* 👈 pour éviter que le pseudo recouvre le contenu */
  }

  * {
    position: relative;
    z-index: 1; /* 👈 pour être au-dessus du fond */
  }

  .hero-scene-content {
    height: 100%; /* ou 300px, mais ici 100% du conteneur c’est mieux */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.image-card{
    position:relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}

.form-label{
    color:$primary;
}